/*------Base Element Styles------*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.light-text {
    color: rgb(155, 155, 155);
}

h1, 
h2, 
h3, 
p, 
a,
li {
    color: rgb(85, 85, 85);
}

h2 {
    font-size: 0.95rem;
}

a {
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color:  rgb(150, 150, 150);
    transition: 0.3s;
}

img {
    max-width: 100%;
}

/*------Base Layout Styles------*/

/* Darker BG for top and bottom of page */

.container {
    width: 99%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1em;
}

.header-intro, 
.contact-footer {
    background: rgb(243, 243, 243);
    padding: 10px;
    
}

header {
    background: rgb(243, 243, 243) url('../images/cube-bg.jpg') no-repeat center;
    background-size: cover;
    background-position-y: top;
}

header .name {
    color: rgb(243, 243, 243);
}

#intro .container {
    padding-top: 30px;
    padding-bottom: 10px;
}

#portfolio {
    padding: 40px 10px;
}

.name {
    margin: 0;
    font-weight: bolder;
}

nav ul {
    padding: 0;
}

header .name,
.main-nav a {
    text-align: center;
    display:block;
    padding:10px;
}

nav li {
    background-color: rgba(255, 255, 255, 0.8);
    list-style-type: none;
    margin: 10px 0;
}

#intro img {
    max-width: 70%;
}

#skills ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

#skills ul li {
    list-style-type: none;
}

.card {
    margin: 3em 0;
    padding: 0 10px;
}

.card p {
    padding: 0 10px;
}

/* contact section */
#contact {
    margin: 40px 0;
}

.reach-me { /* for formating content in contact section*/
    font-weight: bolder;
    padding-left: 1em;
}

/* footer section */
.main-footer .container {
    border-top: lightgrey solid 1px;
    padding: 20px 0;
    overflow: hidden;
    width: 90%;
    margin: auto;
}

footer .name {
    float: left;
    font-size: .9em;
}

footer .return {
    float:right;
    font-size: .75em;
} 

.desktop-nav { /* footer nav not shown in mobile view */
    display: none;
}

/*------Media Queries------*/

@media (min-width: 768px) {

body {
    margin: auto;
}

.header-intro {
    padding: 40px 20px 50px 20px;
}

.main-nav li {
    display: inline-block;
    background-color: rgba(243, 243, 243, .8);
    padding: 0 10px;
}

.intro-text {
    float: left;
    width: 60%;
    padding-right: 10px;
    margin: 0;
    font-size: 1.25em;
    text-align: left;
}

.intro-img {
    float: right;
    width: 40%;
}

.longcolleft {
    float: left;
    width: 50%;
    margin: 0;
}

.longcolright {
    float: right;
    width: 50%;
    margin: 0;
}

.card {
    padding: 15px 10px;
    height: 400px;
}

.card img {
    max-height: 75%;
}

.card p {
    font-size: .9em;
    padding: 0 50px;
}

#contact {
    margin: 50px 0;
    padding: 0 70px;
}

#contact h2 {
    font-size: .9em;
    margin-bottom: 50px;
}

#contact p {
    font-size: 1.2em;
}

.invitation {
    margin-bottom: 50px;
}

.main-footer .container {
    width: 95%;
    display: block;
}

.main-footer .name {
    padding-top: 10px;
    float: left;
}

.desktop-nav { /*navigation at bottom-right of window */
    float:right;
    font-size: .75em;
    display: inline;
    width: auto;
} 

.desktop-nav li{
    display: inline;
    padding-left: 20px;
    background-color: rgb(243, 243, 243);
}

.return { /* "BACK TO TOP" not shown in desktop view */
    display: none;
}

}

@media (min-width: 1024px) {


    .body {
        background: rgb(243, 243, 243);
    }

header {
    height: 200px;
}

    .header-intro {
        padding: 40px 40px 50px;
    }

.main-header .name {
    float: left;
    font-size: 1.25em;
}

.main-nav {
    float: right;
    font-size: .9em;
}

.main-nav ul {
    margin-top: 0;
}

#skills {
    background-color: rgb(243, 243, 243);
    padding: 0 40px;
}

#skills .container {
    width: 100%;
    margin: auto;
    background-color: white;
    padding: 40px 20px 20px 20px;
}

#portfolio {
    background-color: rgb(243, 243, 243);
    padding: 0 40px;
}

#portfolio .container {
    width: 100%;
    margin: auto;
    background-color: white;
    padding: 40px 20px 0 20px;
}

h2 {
    font-size: .9em;
}

#portfolio h2 {
    margin-top: 0;
}

.card {
    padding: 30px 10px;
}

.shortcol {
    float: left;
    width: 33%;
}

.shortcolright {
    float: right;
    width: 33%;
}

#contact .invitation {
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

.main-footer .container {
    width: 90%;
}

}

/* ----Clearfix---- */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }